@CHARSET "UTF-8";
body {
background-image: url('C://Users//Марсель//workspace//MySiteTest//src//main//webapp//images//fon.jpg');
background-repeat: repeat;
background-attachment: scroll;
}
div.form{
	position:absolute;
         top:100px;
         left:100px;
         right:100px;
         
}
div.content{
	background-image: url('C://Users//Марсель//workspace//MySiteTest//src//main//webapp//images//fonForm.jpg');
}
fieldset{
	border-width: 4px;
	border-style: solid;
	border-color: blue;
	width:350px;
	font-size:20px;
    font-family:Verdana, Tahoma;
    font-style:bolder;
   
}
div.Error{
	border-width: 4px;
	border-style: solid;
	border-color: red;
	width:346px;
	height:346px;
	background-image: url('C://Users//Марсель//workspace//MySiteTest//src//main//webapp//images//OOPS.PNG');
	
	position:absolute;
         top:100px;
         left:500px;
         right:100px;
   
    font-size:20px;
    font-family:Verdana, Tahoma;
    font-style:italic;
    
}
div.errorContent{
	
position: absolute; bottom: 0px


	
}
